@import "~font-awesome/css/font-awesome.css";

body {
  position: relative;
  color: white;
  height: 100vh;
  background-color: #fff;
  background-image: linear-gradient(58deg, rgba(223, 225, 220, 0.7) 10%, rgba(230, 238, 230, 0.7));
  font-family: Arial, Helvetica, Helvetica Neue, serif;
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -0.025em;
  color: #fff;
}

p {
  font-size: 24px;
}

li {
  list-style: none;
}

a {
  color: #212121;
  opacity: 0.75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

.disliked {
  border: 10px solid #ddd;
}

.liked {
  border: 10px solid #a5d24a;
}

.react-tagsinput {
  background-color: #fff;
  border: 1px solid #ccc;
  overflow: hidden;
  padding-left: 5px;
  padding-top: 5px;
  margin: 10px;
}

.react-tagsinput--focused {
  border-color: #a5d24a;
}

.react-tagsinput-tag {
  background-color: #cde69c;
  border-radius: 2px;
  border: 1px solid #a5d24a;
  color: #638421;
  display: inline-block;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 5px;
}

.react-tagsinput-remove {
  cursor: pointer;
  font-weight: bold;
}

.react-tagsinput-tag a::before {
  content: " ×";
}

.react-tagsinput-input {
  background: transparent;
  border: 0;
  color: #777;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 6px;
  margin-top: 1px;
  outline: none;
  padding: 5px;
  width: 80px;
}

.text-button,
.sketch-button {
  font-size: 12px;
  padding: 10px 20px;
  font-weight: lighter;
  border: none;
  border-radius: 4px;
}

.text-button {
  background: #a5d24a;
  color: #fff;
}

.text-button:not(:first-of-type),
.sketch-button:not(:first-of-type) {
  margin-left: 10px;
}

.sketch-button {
  background: #414040;
  color: #fff;
}

.main {
  display: flex;
}

.flex-item {
  flex: 1 1 auto;
  padding: 0 10px;
}

#sketches {
  border-top: 1px solid #d0d0d0;
  margin-top: 20px;
  padding: 20px 10px;
}

.text-center {
  text-align: center;
}

.tool i.fa {
  margin-bottom: 20px;
}
